{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans 'گزارش پلیس' %}{% endblock %}</title> <!-- عنوان صفحه -->

</head>
<body>

 {% block header %}

     <h3>{% trans 'گزارش پزشکی قانونی' %}</h3>

        {% endblock %}

{% block content %}

    <div class="container-fluid">
    <!-- بخش اول: پروفایل مظنون -->
    <div class="section profile-info">
        <div class="d-flex align-items-center justify-content-between mb-3">
        <h5 class="mb-0">{% trans "پروفایل مظنون" %}</h5>
        <a href="{% url 'product:suspects-view' suspect.case.id %}" class="btn {% if LANGUAGE_BIDI %}me-auto{% else %}ms-auto{% endif %}">
            <span>{% trans "خروج" %}</span>
            <i {% if LANGUAGE_BIDI %}class="fa-solid fa-arrow-left" {% else %}class="fa-solid fa-arrow-right"{% endif %} ></i>
        </a>
    </div>
        <div class="row align-items-start">
            <!-- تصویر مظنون -->
            <div class="col-12 col-sm-4 col-md-3 mb-3 mb-sm-0 d-flex justify-content-center">
                <div class="profile-image">
                    {% if suspect.image %}
                    <img src="{{ suspect.image.url }}" alt="{{ suspect.name }}">
                        {% else %}
                        {% if suspect.gender == "male" %}
                            <img src="{% static 'images/suspect 1.webp' %}" class="card-img-top" alt="Suspect Image" />
                        {% else %}
                            <img src="{% static 'images/suspect 2.webp' %}" class="card-img-top" alt="Suspect Image" />
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <!-- اطلاعات مظنون -->
            <div class="col-12 col-sm-8 col-md-9">
                <div class="row g-3">
                    <div class="col-6 col-md-4">
                        <div class="profile-item">
                            <span>{% trans "نام:" %}</span> {{ suspect.name }}
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="profile-item">
                            <span>{% trans "سن:" %}</span> {{ suspect.age }}
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="profile-item">
                            <span>{% trans "جنسیت:" %}</span> {{ suspect.get_gender_display }}
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="profile-item">
                            <span>{% trans "قد:" %}</span> {{ suspect.height }} cm
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="profile-item">
                            <span>{% trans "وزن:" %}</span> {{ suspect.weight }} kg
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="profile-item">
                            <span>{% trans "گروه خونی:" %}</span> {{ suspect.blood_type }}
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="profile-item">
                            <span>{% trans "تاهل:" %}</span> {{ suspect.get_marital_status_display }}
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="profile-item">
                            <span>{% trans "شغل:" %}</span> {{ suspect.job }}
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="profile-item">
                            <span>{% trans "ارتباط:" %}</span> {{ suspect.relationship_with_victim }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container card mt-3">
        <!-- تایپ تدریجی متن -->
        <div class="typing-text" id="typingText"></div>
 </div>

     <script>
        const text = "{{ case.report|escapejs }}"
        const typingText = document.getElementById("typingText");
        let index = 0;

        function typeText() {
            if (index < text.length) {
                typingText.textContent += text[index];
                index++;
                setTimeout(typeText, 50); // سرعت تایپ (به میلی‌ثانیه)
            }
        }

        typeText();

    </script>

{% endblock %}

{% block fab_buttons %}
  <div class="sub-button shadow">
    <a id="showFullTextBtn" target="_blank">
      <i class="fa-solid fa-stop"></i>
    </a>
  </div>

    <script>
    document.getElementById("showFullTextBtn").addEventListener("click", function() {
            typingText.textContent = text; // نمایش کامل متن
            index = text.length; // به روز رسانی ایندکس برای جلوگیری از تایپ دوباره
             });
    </script>

        {% endblock %}


{% block footer_buttons %}

   <div class="container-fluid d-flex align-items-center justify-content-between pb-2  py-3 px-3">
        <a href="{% url 'product:suspects-view' case.id %}" class="btn" {% if LANGUAGE_BIDI %}dir="rtl" {% else %}dir="ltr" {% endif %}>
            <i class="fa-solid previous-icon {% if LANGUAGE_BIDI %} fa-arrow-right rtl {% else %} fa-arrow-left ltr{% endif %}"></i>
            <span>{% trans "مظنونین" %}</span>
        </a>

     <a href="{% url 'product:evidence-view' case.id %}" class="btn {% if LANGUAGE_BIDI %}float-start{% else %}float-end{% endif %}">
            <span>{% trans "مدارک" %}</span>
            <i class="fa-solid next-icon {% if LANGUAGE_BIDI %} fa-arrow-left rtl {% else %} fa-arrow-right ltr{% endif %}"></i>
        </a>
    </div>

{% endblock %}
</body>
</html>
