{% load static %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}عنوان پیش‌فرض{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        // این اسکریپت برای حفظ وضعیت پخش موسیقی در زمان تغییر صفحه است
        window.onload = function() {
            var audio = document.getElementById('background-music');
            // اگر موسیقی در حال پخش است، آن را دوباره پخش کنیم
            if (audio.paused) {
                audio.play();
            }
        };
    </script>
</head>
<body>
    <!-- پخش موسیقی در تمام صفحات (با استفاده از جاوا اسکریپت) -->
    <audio id="background-music" autoplay loop>
        <source src="{% static 'audio/playback.mp3' %}" type="audio/mpeg">
        مرورگر شما از تگ audio پشتیبانی نمی‌کند.
    </audio>

    <!-- محتوای متغیر -->
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
