{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow"> <!-- اجازه ایندکس و دنبال کردن لینک‌ها -->
    <title>{% block title %}{% trans 'شروع' %}{% endblock %}</title> <!-- عنوان صفحه -->



</head>
<body>

 {% block content %}


<div id="crime-scene">
  <div class="yellow-tape mt-5">
      <img class="img-responsive" src="{% static 'images/caution.png' %}" alt="">
  </div>
  <div class="text-center">
      <button type="submit" class="btn mt-3 py-2 px-2">{% trans 'شروع' %}</button>
  </div>
</div>

<script>


</script>

{% endblock %}


</body>
</html>