{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans 'گزارش پلیس' %}{% endblock %}</title> <!-- عنوان صفحه -->

</head>
<body>
{% block content %}

<header class="header mt-2">
        <h3>{% trans 'گزارش پلیس' %}</h3>
    </header>

<div class="container card">
        <!-- تایپ تدریجی متن -->
        <div class="typing-text" id="typingText"></div>
 </div>

     <script>
        const text = "{{ case.report|escapejs }}"
        const typingText = document.getElementById("typingText");
        let index = 0;

        function typeText() {
            if (index < text.length) {
                typingText.textContent += text[index];
                index++;
                setTimeout(typeText, 50); // سرعت تایپ (به میلی‌ثانیه)
            }
        }

        typeText();

    </script>

{% endblock %}

{% block fab_buttons %}

  <div class="sub-button shadow">
    <a id="play-music" target="_blank">
        <i class="fa-solid fa-volume-high"></i>
    </a>
  </div>
  <div class="sub-button shadow">
    <a target="_blank">
      <i class="fa-solid fa-file-lines"></i>
    </a>
  </div>
  <div class="sub-button shadow">
    <a id="showFullTextBtn" target="_blank">
      <i class="fa-solid fa-stop"></i>
    </a>
  </div>

    <script>
    document.getElementById("showFullTextBtn").addEventListener("click", function() {
            typingText.textContent = text; // نمایش کامل متن
            index = text.length; // به روز رسانی ایندکس برای جلوگیری از تایپ دوباره
             });
    </script>

        {% endblock %}


{% block footer_buttons %}

    <div class="container-fluid py-3 px-3">
        <a href="{% url 'product:suspects-view' case.id %}" class="btn {% if LANGUAGE_BIDI %}ms-auto{% else %}me-auto{% endif %}">
            <span>{% trans "مظنونین" %}</span>
            <i {% if LANGUAGE_BIDI %}class="fa-solid fa-arrow-right" {% else %}class="fa-solid fa-arrow-left"{% endif %}></i>
        </a>
    </div>


{% endblock %}
</body>
</html>
