{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow"> <!-- اجازه ایندکس و دنبال کردن لینک‌ها -->
    <title>{% block title %}{% trans 'مظنونین' %}{% endblock %}</title> <!-- عنوان صفحه -->

</head>
<body>

 {% block header %}

     <h3>{% trans 'مظنونین' %}</h3>

        {% endblock %}

 {% block content %}


{#<div class="container mt-3 mx-5">#}
{#    <div class="input-group" dir="rtl">#}
{#        <label for="search-input"></label>#}
{#        <input type="text" id="search-input" class="form-control" placeholder="جست و جو ...">#}
{#        <div class="input-group-append">#}
{#            <button id="search-button" class="btn" type="button">#}
{#                <i class="fas fa-search"></i>#}
{#            </button>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

 <div class="container my-2">
  <div class="row mt-2 mx-md-5 justify-content-center">
    <!-- Blog Post Card -->

      {% for x in suspects %}
    <div class="col-12 col-md-4 mt-5 d-flex justify-content-center">
      <div class="card">
          {% if x.image %}
              <img src="{{ x.image.url }}" class="card-img-top" alt="{{ x.name }}" />
             {% else %}
             {% if x.gender == "male" %}
                 <img src="{% static 'images/suspect 1.webp' %}" class="card-img-top" alt="Suspect Image" />
                 {% else %}
                 <img src="{% static 'images/suspect 2.webp' %}" class="card-img-top" alt="Suspect Image" />
                 {% endif %}
             {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{ x.name }}</h5>
          <p class="card-text">{% trans "سن:" %} {{ x.age }} | {% trans "جنسیت:" %} {{ x.get_gender_display }} | {% trans "ارتباط با مقتول:" %} {{ x.relationship_with_victim }}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'product:interrogation-view' x.id %}" target="_blank">{% trans 'اتاق بازجویی' %}</a>
        </div>
      </div>
    </div>
      {% endfor %}


  </div>
</div>


<script>
    function searchFunction() {
    var input, filter, posts, post, title, i, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toLowerCase();
    posts = document.getElementsByClassName('blog-post');

    // Loop through all blog posts and hide those that don't match the search
    for (i = 0; i < posts.length; i++) {
        post = posts[i];
        title = post.getElementsByTagName('h4')[0];
        txtValue = title.textContent || title.innerText;

        if (txtValue.toLowerCase().indexOf(filter) > -1) {
            post.style.display = "";
        } else {
            post.style.display = "none";
        }
    }
}
</script>

 {% endblock %}

 {% block fab_buttons %}
  <div class="sub-button shadow">
    <a id="showFullTextBtn" target="_blank">
      <i class="fa-solid fa-stop"></i>
    </a>
  </div>

    <script>
    document.getElementById("showFullTextBtn").addEventListener("click", function() {
            typingText.textContent = text; // نمایش کامل متن
            index = text.length; // به روز رسانی ایندکس برای جلوگیری از تایپ دوباره
             });
    </script>

        {% endblock %}


{% block footer_buttons %}

     <div class="container-fluid d-flex align-items-center justify-content-between pb-2  py-3 px-3">
        <a href="{% url 'product:start-view' case.id %}" class="btn" {% if LANGUAGE_BIDI %}dir="rtl" {% else %}dir="ltr" {% endif %}>
            <i class="fa-solid previous-icon {% if LANGUAGE_BIDI %} fa-arrow-right rtl {% else %} fa-arrow-left ltr{% endif %}"></i>
            <span>{% trans "گزارش" %}</span>
        </a>

     <a href="{% url 'product:evidence-view' case.id %}" class="btn {% if LANGUAGE_BIDI %}float-start{% else %}float-end{% endif %}">
            <span>{% trans "مدارک" %}</span>
            <i class="fa-solid next-icon {% if LANGUAGE_BIDI %} fa-arrow-left rtl {% else %} fa-arrow-right ltr{% endif %}"></i>
        </a>
    </div>


{% endblock %}
</body>
</html>
